/** @define Popover */

@import "../../css/global";
@import "../../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/variables";
@import "../../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/mixins";
@import "../../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/popovers";

.Van-Popover {
  font-family: "Proxima Nova", sans-serif;
  font-weight: $font-weight-light;
  line-height: initial;
  color: $color-primary;

  /* postcss-bem-linter: ignore */
  .popover-content {
    padding: 16px 20px;
    font-size: 14px;
  }
}
