@import "../../css/_global.scss";

@mixin background-color($text-color, $bg-color, $inverted: false) {
  @if $inverted {
    background-color: $color-white;
    color: $bg-color;
    border-color: $color-grey;
  } @else {
    background-color: $bg-color;
    color: $text-color;
    border-color: $bg-color;
    
    &:hover {
      background-color: lighten($bg-color, 6);
    }
  }
  
  &:hover {
    border-color: lighten($bg-color, 6);
  }
}

.Van-Button {
  display: inline-block;
  vertical-align: middle;
  font-size: 18px;
  text-align: center;
  padding: 0 15px;
  margin: 0;
  cursor: pointer;
  transition: all 300ms ease-in-out;
  border-radius: 5px;
  min-height: 50px;
  border: 2px solid transparent;
  background-color: transparent;


  // Colors
  &--primary {
    @include background-color($color-white, $color-pink-primary);

    &.Van-Button--inverted { @include background-color($color-white, $color-pink-primary, true); }
  }

  &--info {
    @include background-color($color-white, $color-blue-primary);

    &.Van-Button--inverted { @include background-color($color-white, $color-blue-primary, true); }
  }

  &--warning {
    @include background-color($color-white, $color-orange);

    &.Van-Button--inverted { @include background-color($color-white, $color-orange, true); }
  }

  &--danger {
    @include background-color($color-white, $color-red);

    &.Van-Button--inverted { @include background-color($color-white, $color-red, true); }
  }

  &--success {
    @include background-color($color-white, $color-green-primary);

    &.Van-Button--inverted { @include background-color($color-white, $color-green-primary, true); }
  }


  // Sizes
  &--large {
    min-height: 60px;
    font-size: 20px;
    line-height: 24px;
  }

  &--small {
    min-height: 40px;
    font-size: 18px;
    line-height: 22px;
  }

  &--tiny {
    min-height: 35px;
    font-size: 16px;
    line-height: 19px;
  }

  &--compact {
    min-height: 26px;
    font-size: 13px;
    line-height: 16px;
  }

  &--full {
    width: 100%;
  }
}
