/** @define Button */

@import "../../css/variables";
@import "../../css/mixins";

.Van-Button {
  display: inline-flex;
  align-items: center;
  font-size: 18px;
  font-weight: $font-weight-semibold;
  line-height: 22px;
  justify-content: center;
  text-align: center;
  white-space: nowrap;
  padding: 0 15px;
  margin: 0;
  text-decoration: none;
  cursor: pointer;
  transition: background-color 100ms ease-in-out, border-color 100ms ease-in-out, color 100ms ease-in-out;
  border-radius: 5px;
  min-height: 40px;
  border: 2px solid $color-grey-bright;
  background-color: $color-grey-bright;

  /* postcss-bem-linter: ignore */
  > .Van-Icon {
    position: relative;
    top: 2px;
    width: 17px;
    height: 17px;

    /* postcss-bem-linter: ignore */
    &:first-child {
      margin-right: 0.5rem;
    }

    /* postcss-bem-linter: ignore */
    &:last-child {
      margin-left: 0.5rem;
    }
  }

  // Colors
  &--primary {
    @include background-color($color-white, $color-pink-primary);

    &.Van-Button--inverted { @include background-color($color-white, $color-pink-primary, true); }
    &.Van-Button--grayscale { @include background-color($color-white, $color-pink-primary, false, true); }
  }

  &--info {
    @include background-color($color-white, $color-blue-primary);

    &.Van-Button--inverted { @include background-color($color-white, $color-blue-primary, true); }
    &.Van-Button--grayscale { @include background-color($color-white, $color-blue-primary, false, true); }
  }

  &--warning {
    @include background-color($color-white, $color-orange);

    &.Van-Button--inverted { @include background-color($color-white, $color-orange, true); }
    &.Van-Button--grayscale { @include background-color($color-white, $color-orange, false, true); }
  }

  &--danger {
    @include background-color($color-white, $color-red);

    &.Van-Button--inverted { @include background-color($color-white, $color-red, true); }
    &.Van-Button--grayscale { @include background-color($color-white, $color-red, false, true); }
  }

  &--success {
    @include background-color($color-white, $color-green-primary);

    &.Van-Button--inverted { @include background-color($color-white, $color-green-primary, true); }
    &.Van-Button--grayscale { @include background-color($color-white, $color-green-primary, false, true); }
  }

  &--facebook {
    @include background-color($color-white, $color-facebook-blue);

    &.Van-Button--inverted { @include background-color($color-white, $color-facebook-blue, true); }
    &.Van-Button--grayscale { @include background-color($color-white, $color-facebook-blue, false, true); }
  }

  &[disabled] {
    @include color-fill($color-grey);

    border-color: $color-grey-bright;
    background-color: $color-grey-bright;
    cursor: not-allowed;
  }

  // Sizes
  &--big {
    min-height: 50px;
  }

  &--small {
    min-height: 35px;
    font-size: 16px;
    line-height: 20px;
  }

  &--compact {
    min-height: 26px;
    font-size: 14px;
    line-height: 17px;
  }

  &--full {
    width: 100%;
  }

  &--square {
    width: 96px;
    height: 89px;
    flex-direction: column;
    font-size: 13px;
    font-weight: $font-weight-light;
    line-height: 13px;

    &.Van-Button--small {
      width: 50px;
      height: 40px;
      padding: 0 5px;

      /* postcss-bem-linter: ignore */
      > span {
        display: none;
      }

      /* postcss-bem-linter: ignore */
      > .Van-Icon {
        display: inline-block;
        width: 35px;
        max-height: 25px;
      }
    }

    /* postcss-bem-linter: ignore */
    .Van-Button-text {
      margin-bottom: 10px;
    }

    /* postcss-bem-linter: ignore */
    > .Van-Icon {
      width: auto;
      height: 32px;

      /* postcss-bem-linter: ignore */
      + .Van-Button-text {
        margin-bottom: 0;
        margin-top: 10px;
      }

      /* postcss-bem-linter: ignore */
      &:first-child {
        margin-right: 0;
      }

      /* postcss-bem-linter: ignore */
      &:last-child {
        margin-left: 0;
      }
    }
  }

  &--circle {
    width: 40px;
    min-height: 40px;
    border-radius: 50%;
    padding: 0;
  }
}
