@import "../../css/_global.scss";

.Van-List {
  font-size: 17px;
  line-height: 30px;

  &-icon {
    position: relative;
    top: 4px;
    margin-right: 5px;
  }

  &--unstyled {
    list-style: none;
    padding-left: 0;
  }
}
