/** @define InputRadio */

@import "../../css/variables";
@import "../../css/mixins";

.Van-InputRadio {
  position: relative;
  width: 20px;
  height: 20px;
  display: inline-block;

  &-input {
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    margin: 0;
    opacity: 0;
    z-index: 10;

    & + .Van-InputRadio-styled {
      /* postcss-bem-linter: ignore */
      &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 20px;
        height: 20px;
        background-color: $color-white;
        border: 1px solid $color-grey-light;
        border-radius: 50%;
      }
    }

    @keyframes scale {
      from {
        transform: scale(0);
      }

      to {
        transform: scale(1);
      }
    }

    &:checked + .Van-InputRadio-styled {
      /* postcss-bem-linter: ignore */
      &::after {
        content: '';
        position: absolute;
        top: 4px;
        left: 4px;
        width: 12px;
        height: 12px;
        background-color: $color-pink-primary;
        border-radius: 50%;
        animation-duration: 0.2s;
        animation-name: scale;
      }

      /* postcss-bem-linter: ignore */
      &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 20px;
        height: 20px;
        background-color: $color-white;
        border: 1px solid $color-pink-primary;
        border-radius: 50%;
      }
    }
  }
}
