@import "../../css/variables";

.Van-Switch {
  background: $color-grey;
  border-radius: 15px;
  height: 26px;
  overflow: hidden;
  position: relative;
  width: 60px;

  .Van-Switch-input {
    display: none;

    &:checked + .Van-Switch-wrapper {
      & > .Van-Switch-label--on {
        opacity: 1;
        transition: all 0.25s;
      }

      & > .Van-Switch-toggle {
        left: calc(100% - 21px);
        transition: all 0.25s;
      }
    }
  }

  .Van-Switch-toggle {
    background: $color-white;
    border-radius: 50%;
    cursor: pointer;
    height: 16px;
    left: 5px;
    position: absolute;
    top: 5px;
    transition: all 0.25s;
    width: 16px;
    z-index: 3;
  }

  .Van-Switch-label {
    bottom: 0;
    color: $color-white;
    cursor: pointer;
    font-size: 13px;
    left: 0;
    line-height: 16px;
    padding: 5px 10px;
    position: absolute;
    right: 0;
    top: 0;
  }

  .Van-Switch-label--on {
    background: $color-green-primary;
    opacity: 0;
    transition: all 0.25s;
    z-index: 2;
  }

  .Van-Switch-label--off {
    text-align: right;
  }
}
