/** @define Paragraph */

@import "../../css/variables";
@import "../../css/mixins";

.Van-Paragraph {
  @include color-fill($color-dark);

  font-weight: $font-weight-light;
  font-size: 18px;
  line-height: 26px;

  @media (max-width: $container-sm) {
    font-size: 16px;
    line-height: 22px;
  }
}
