/** @define Paragraph */

@import "../../../node_modules/bootstrap/scss/functions";
@import "../../../node_modules/bootstrap/scss/variables";
@import "../../../node_modules/bootstrap/scss/mixins/breakpoints";
@import "../../css/global";
@import "../../css/mixins";

.Van-Paragraph {
  @include color-fill($color-dark);

  font-weight: $font-weight-light;
  font-size: 18px;
  line-height: 26px;

  @include media-breakpoint-down(sm) {
    font-size: 16px;
    line-height: 22px;
  }
}
