@import '../../css/variables';
@import '../../css/mixins';

$animation-duration: 4s;

.Van-Spinner {
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  left: 0;
  padding: 25px;
  text-align: center;
  width: 100%;

  &--fullScreen {
    height: 100vh;
    position: fixed;
    top: 0;
    width: 100vw;
    z-index: 9; // the react-header has z-index: 10
  }

  &-iconContainer {
    height: 50px;
  }

  &-icon {
    animation: zoom-in-out $animation-duration ease-out infinite;
    left: 0;
    position: absolute;
    right: 0;
    transform: scale(0);
    transform-origin: 50% 100%;
    width: 100%;

    > svg {
      height: 250%;
    }
  }

  &-sun {
    @include color-fill($color-yellow-primary);
  }

  &-wind {
    @include color-fill($color-pink-primary);

    animation-delay: $animation-duration * 0.25;
  }

  &-hydro {
    @include color-fill($color-blue-primary);

    animation-delay: $animation-duration / 2;
  }

  &-bio {
    @include color-fill($color-green-primary);

    animation-delay: $animation-duration * 0.75;
  }
}

@keyframes zoom-in-out {
  0% {
    transform: scale(0);
  }

  15% {
    transform: scale(1);
  }

  18% {
    transform: scale(1);
  }

  30% {
    transform: scale(0);
  }
}
