@import "../../css/variables";

.Van-Label {
  font-weight: $font-weight-light;
  font-family: "Proxima Nova", sans-serif;
  color: $color-primary;
  font-size: 18px;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}
