/** @define Select */

@import "../../css/variables";
@import "../../css/mixins";

.Van-Select {
  position: relative;
  display: block;
  background-color: $color-background-bright;
  height: 40px;

  /* postcss-bem-linter: ignore */
  select {
    position: absolute;
    width: 100%;
    height: 100%;
    border: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    z-index: 3;
    background: transparent;
    padding: 0 15px;

    // https://stackoverflow.com/a/11603104
    color: #000;
    color: rgba(0, 0, 0, 0);
    text-shadow: 0 0 0 #000;

    /* postcss-bem-linter: ignore */
    &::-ms-expand {
      display: none; /* hide the default arrow in ie10 and ie11 */
    }
  }

  /* postcss-bem-linter: ignore */
  .Van-Icon {
    @include color-fill($color-grey);

    position: absolute;
    right: 20px;
    height: auto;
    width: 14px;
    top: 13px;
  }
}
