/** @define Ribbon */

@import "../../css/variables";

.Van-Ribbon {
  overflow: hidden;
  min-width: 250px;
  height: 47px;
  font-size: 18px;
  font-weight: $font-weight-bold;
  color: $color-green-dark;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  transform: rotate(45deg);
  background-color: $color-green-brightest;
}
