.Van-Icon {
  display: inline-block;
  height: 2rem;
  width: 2rem;
  max-height: 100%;
  max-width: 100%;
  margin: auto;

  > svg {
    position: relative;
    z-index: 2;
    display: block;
    width: 100%;
    max-width: 100%;
    max-height: 100%;
  }
}
