@import "../../css/_global.scss";

.Van-Divider {
  position: relative;
  width: 100%;
  height: 1px;
  background-color: #f2f2f2;
  display: block;
  margin: 20px 0;
  text-align: center;

  &-content {
    position: relative;
    top: -10px;
    background-color: $color-white;
    display: inline-block;
    padding: 0 10px;
    color: $color-primary-brightst;
    font-size: 14px;
    font-weight: $font-weight-semibold;
  }
}
