@import "../../css/variables";

.Van-Divider {
  position: relative;
  width: 100%;
  height: 1px;
  background-color: #f2f2f2;
  display: block;
  margin: 20px 0;
  text-align: center;

  &--vertical {
    margin: 0 8px;
    display: inline-block;
    height: 100%;
    width: 1px;
    vertical-align: middle;
    top: -0.06em;
  }

  &-content {
    position: relative;
    top: -10px;
    background-color: $color-white;
    display: inline-block;
    padding: 0 10px;
    color: $color-primary-brightest;
    font-size: 14px;
    font-weight: $font-weight-semibold;
  }
}
