/** @define Modal */

@import "../../css/global";
@import "../Heading/style";
@import "../../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/variables";
@import "../../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/mixins";
@import "../../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/scaffolding";
@import "../../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/close";
@import "../../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/modals";

.Van-Modal {
  font-family: "Proxima Nova", sans-serif;
  font-weight: $font-weight-light;
  line-height: initial;
  color: $color-primary;

  /* postcss-bem-linter: ignore */
  .close {
    font-size: 50px;
    line-height: 24px;
    margin-top: 6px;
  }

  .modal {
    /* postcss-bem-linter: ignore */
    &-header {
      border-bottom: 0;
      padding: 35px 40px 25px;
    }

    /* postcss-bem-linter: ignore */
    &-title {
      @extend .Van-Heading--h2;
    }

    /* postcss-bem-linter: ignore */
    &-content {
      border-radius: 0;
    }

    /* postcss-bem-linter: ignore */
    &-body {
      padding: 0 40px 40px;
    }
  }
}
