// TODO: change file name to variables?

$color-white:            #fff;
$color-dark:             #363639;
$color-grey:             #c0bdbd;
$color-grey-dark:        #717171;
$color-grey-light:       #d2d2d2;
$color-grey-bright:      #f1f0ef;
$color-primary-darker:   #293139;
$color-primary:          #333d47;
$color-primary-light:    #475059;
$color-primary-bright:   #5b636b;
$color-primary-brightst: #83898f;
$color-pink-darker:      #ba3362;
$color-pink-dark:        #d1396e;
$color-pink-primary:     #e83f7a;
$color-pink-light:       #ea5287;
$color-pink-bright:      #ee78a1;
$color-blue-darker:      #0083b4;
$color-blue-dark:        #0093ca;
$color-blue-primary:     #00a3e0;
$color-blue-light:       #34b5e6;
$color-blue-bright:      #4ebee9;
$color-green-darker:     #358c22;
$color-green-dark:       #3c9e26;
$color-green-primary:    #43b02a;
$color-green-light:      #69c054;
$color-green-bright:     #7cc869;
$color-yelno:            #e5a619;
$color-yellow-primary:   #ffb81c;
$color-yellow-light:     #ffc64a;
$color-yellow-bright:    #ffd478;
$color-yellow-brightst:  #ffdb8f;
$color-orange:           #ff761c;
$color-red:              #d9483b;
$color-facebook-blue:    #37528d;

$color-base:    $color-pink-primary;

$font-size-normal:  16px;
$font-size-small:   12px;
$font-size-compact: 15px;
$font-size-tiny:    11px;

$font-size-base:    $font-size-normal;

$font-weight-light:    100;
$font-weight-normal:   400;
$font-weight-bold:     700;
$font-weight-semibold: 600;
