$color-white:            #FFFFFF;
$color-dark:             #363639;
$color-grey:             #C0BDBD;
$color-grey-dark:        #717171;
$color-grey-light:       #D2D2D2;
$color-grey-bright:      #F1F0EF;
$color-primary-darker:   #293139;
$color-primary:          #333D47;
$color-primary-light:    #475059;
$color-primary-bright:   #5B636B;
$color-primary-brightst: #83898F;
$color-pink-darker:      #BA3362;
$color-pink-dark:        #D1396E;
$color-pink-primary:     #E83F7A;
$color-pink-light:       #EA5287;
$color-pink-bright:      #EE78A1;
$color-blue-darker:      #0083B4;
$color-blue-dark:        #0093CA;
$color-blue-primary:     #00A3E0;
$color-blue-light:       #34B5E6;
$color-blue-bright:      #4EBEE9;
$color-green-darker:     #358C22;
$color-green-dark:       #3C9E26;
$color-green-primary:    #43B02A;
$color-green-light:      #69C054;
$color-green-bright:     #7CC869;
$color-yelno:            #E5A619;
$color-yellow-primary:   #FFB81C;
$color-yellow-light:     #FFC64A;
$color-yellow-bright:    #FFD478;
$color-yellow-brightst:  #FFDB8F;
$color-orange:           #FF761C;
$color-red:              #D9483B;
$color-facebook-blue:    #37528D;

$color-base:    $color-pink-primary;

$font-size-normal:  16px;
$font-size-small:   12px;
$font-size-compact: 15px;
$font-size-tiny:    11px;

$font-size-base:    $font-size-normal;

$font-weight-light:    100;
$font-weight-normal:   400;
$font-weight-bold:     700;
$font-weight-semibold: 600;

* {
  box-sizing: border-box;
}

*[class^="Van-"] {
  box-sizing: border-box;
  font-family: "Proxima Nova", sans-serif;
  font-size: 17px;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
}

html {
  position: relative;
  box-sizing: border-box;
  font-family: "Proxima Nova", sans-serif;
  font-size: 17px;
  
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
}
