@mixin font-face($type, $weight, $style) {
  @font-face {
    font-family: "Proxima Nova";
    src: url('./assets/fonts/proxima-nova-#{$type}.eot');
    src:
      url('./assets/fonts/proxima-nova-#{$type}.eot?#iefix') format("embedded-opentype"),
      url('./assets/fonts/proxima-nova-#{$type}.woff') format("woff"),
      url('./assets/fonts/proxima-nova-#{$type}.ttf') format("truetype"),
      url('./assets/fonts/proxima-nova-#{$type}.svg#proxima_nova') format('svg');
    font-weight: #{$weight};
    font-style: #{$style};
  }
}
