@import "./mixins";

$directionList: top bottom left right;

.Van-u-display-block { display: block; }

.Van-u-float-right { float: right; }
.Van-u-float-left { float: left; }

/* Font weight */
.Van-u-text-bold { font-weight: $font-weight-bold !important; }
.Van-u-text-extrabold { font-weight: $font-weight-extrabold !important; }
.Van-u-text-semibold { font-weight: $font-weight-semibold !important; }
.Van-u-text-regular { font-weight: $font-weight-normal !important; }
.Van-u-text-thin { font-weight: $font-weight-thin !important; }
.Van-u-text-light { font-weight: $font-weight-light !important; }

// Font size
.Van-u-text--h1 {
  font-size: 36px;
  line-height: 44px;
}

.Van-u-text--h2 {
  font-size: 28px;
  line-height: 34px;
}

.Van-u-text--h3 {
  font-size: 24px;
  line-height: 29px;
}

.Van-u-text--h4 {
  font-size: 18px;
  line-height: 22px;
}

.Van-u-text--normal {
  font-size: 16px;
  line-height: 1.4;
}

.Van-u-text--small {
  font-size: $font-size-small;
  line-height: 21px;
}

.Van-u-text--tiny {
  font-size: $font-size-tiny;
  line-height: 14px;
}

/* Colors */
.Van-u-color-white { @include color-fill($color-white); }
.Van-u-color-dark { @include color-fill($color-dark); }
.Van-u-color-grey { @include color-fill($color-grey); }
.Van-u-color-grey-dark { @include color-fill($color-grey-dark); }
.Van-u-color-grey-bright { @include color-fill($color-grey-bright); }
.Van-u-color-primary-darker { @include color-fill($color-primary-darker); }
.Van-u-color-primary { @include color-fill($color-primary); }
.Van-u-color-primary-light { @include color-fill($color-primary-light); }
.Van-u-color-primary-bright { @include color-fill($color-primary-bright); }
.Van-u-color-primary-brightst { @include color-fill($color-primary-brightst); }
.Van-u-color-pink-darker { @include color-fill($color-pink-darker); }
.Van-u-color-pink-dark { @include color-fill($color-pink-dark); }
.Van-u-color-pink-primary { @include color-fill($color-pink-primary); }
.Van-u-color-pink-light { @include color-fill($color-pink-light); }
.Van-u-color-pink-bright { @include color-fill($color-pink-bright); }
.Van-u-color-blue-darker { @include color-fill($color-blue-darker); }
.Van-u-color-blue-dark { @include color-fill($color-blue-dark); }
.Van-u-color-blue-primary { @include color-fill($color-blue-primary); }
.Van-u-color-blue-light { @include color-fill($color-blue-light); }
.Van-u-color-blue-bright { @include color-fill($color-blue-bright); }
.Van-u-color-green-darker { @include color-fill($color-green-darker); }
.Van-u-color-green-dark { @include color-fill($color-green-dark); }
.Van-u-color-green-primary { @include color-fill($color-green-primary); }
.Van-u-color-green-light { @include color-fill($color-green-light); }
.Van-u-color-green-bright { @include color-fill($color-green-bright); }
.Van-u-color-yelno { @include color-fill($color-yelno); }
.Van-u-color-yellow-primary { @include color-fill($color-yellow-primary); }
.Van-u-color-yellow-light { @include color-fill($color-yellow-light); }
.Van-u-color-yellow-bright { @include color-fill($color-yellow-bright); }
.Van-u-color-yellow-brightst { @include color-fill($color-yellow-brightst); }
.Van-u-color-orange { @include color-fill($color-orange); }
.Van-u-color-red { @include color-fill($color-red); }
.Van-u-color-facebook-blue { @include color-fill($color-facebook-blue); }

.Van-u-bg-white { background-color: $color-white !important; }
.Van-u-bg-dark { background-color: $color-dark !important; }
.Van-u-bg-grey { background-color: $color-grey !important; }
.Van-u-bg-grey-dark { background-color: $color-grey-dark !important; }
.Van-u-bg-grey-bright { background-color: $color-grey-bright !important; }
.Van-u-bg-primary-darker { background-color: $color-primary-darker !important; }
.Van-u-bg-primary { background-color: $color-primary !important; }
.Van-u-bg-primary-light { background-color: $color-primary-light !important; }
.Van-u-bg-primary-bright { background-color: $color-primary-bright !important; }
.Van-u-bg-primary-brightst { background-color: $color-primary-brightst !important; }
.Van-u-bg-pink-darker { background-color: $color-pink-darker !important; }
.Van-u-bg-pink-dark { background-color: $color-pink-dark !important; }
.Van-u-bg-pink-primary { background-color: $color-pink-primary !important; }
.Van-u-bg-pink-light { background-color: $color-pink-light !important; }
.Van-u-bg-pink-bright { background-color: $color-pink-bright !important; }
.Van-u-bg-blue-darker { background-color: $color-blue-darker !important; }
.Van-u-bg-blue-dark { background-color: $color-blue-dark !important; }
.Van-u-bg-blue-primary { background-color: $color-blue-primary !important; }
.Van-u-bg-blue-light { background-color: $color-blue-light !important; }
.Van-u-bg-blue-bright { background-color: $color-blue-bright !important; }
.Van-u-bg-green-darker { background-color: $color-green-darker !important; }
.Van-u-bg-green-dark { background-color: $color-green-dark !important; }
.Van-u-bg-green-primary { background-color: $color-green-primary !important; }
.Van-u-bg-green-light { background-color: $color-green-light !important; }
.Van-u-bg-green-bright { background-color: $color-green-bright !important; }
.Van-u-bg-yelno { background-color: $color-yelno !important; }
.Van-u-bg-yellow-primary { background-color: $color-yellow-primary !important; }
.Van-u-bg-yellow-light { background-color: $color-yellow-light !important; }
.Van-u-bg-yellow-bright { background-color: $color-yellow-bright !important; }
.Van-u-bg-yellow-brightst { background-color: $color-yellow-brightst !important; }
.Van-u-bg-orange { background-color: $color-orange !important; }
.Van-u-bg-red { background-color: $color-red !important; }
.Van-u-bg-facebook-blue { background-color: $color-facebook-blue !important; }

.Van-u-margin {
  @include spacing('margin');

  @each $direction in $directionList {
    @include spacing('margin', $direction);
  }
}

.Van-u-padding {
  @include spacing('padding');

  @each $direction in $directionList {
    @include spacing('padding', $direction);
  }
}
