/* Font weight */
.Van-u-text-bold { font-weight: $font-weight-bold !important; }
.Van-u-text-semibold { font-weight: $font-weight-semibold !important; }
.Van-u-text-regular { font-weight: $font-weight-normal !important; }
.Van-u-text-light { font-weight: $font-weight-light !important; }

// Font size
.Van-u-text--h1 {
  font-size: 36px;
  line-height: 44px;
}

.Van-u-text--h2 {
  font-size: 28px;
  line-height: 34px;
}

.Van-u-text--h3 {
  font-size: 24px;
  line-height: 29px;
}

.Van-u-text--h4 {
  font-size: 18px;
  line-height: 22px;
}

.Van-u-text--small {
  font-size: $font-size-small;
  line-height: 21px;
}

/* Colors */
.Van-u-color-white { color: $color-white !important; }
.Van-u-color-dark { color: $color-dark !important; }
.Van-u-color-grey { color: $color-grey !important; }
.Van-u-color-grey-dark { color: $color-grey-dark !important; }
.Van-u-color-grey-bright { color: $color-grey-bright !important; }
.Van-u-color-primary-darker { color: $color-primary-darker !important; }
.Van-u-color-primary { color: $color-primary !important; }
.Van-u-color-primary-light { color: $color-primary-light !important; }
.Van-u-color-primary-bright { color: $color-primary-bright !important; }
.Van-u-color-primary-brightst { color: $color-primary-brightst !important; }
.Van-u-color-pink-darker { color: $color-pink-darker !important; }
.Van-u-color-pink-dark { color: $color-pink-dark !important; }
.Van-u-color-pink-primary { color: $color-pink-primary !important; }
.Van-u-color-pink-light { color: $color-pink-light !important; }
.Van-u-color-pink-bright { color: $color-pink-bright !important; }
.Van-u-color-blue-darker { color: $color-blue-darker !important; }
.Van-u-color-blue-dark { color: $color-blue-dark !important; }
.Van-u-color-blue-primary { color: $color-blue-primary !important; }
.Van-u-color-blue-light { color: $color-blue-light !important; }
.Van-u-color-blue-bright { color: $color-blue-bright !important; }
.Van-u-color-green-darker { color: $color-green-darker !important; }
.Van-u-color-green-dark { color: $color-green-dark !important; }
.Van-u-color-green-primary { color: $color-green-primary !important; }
.Van-u-color-green-light { color: $color-green-light !important; }
.Van-u-color-green-bright { color: $color-green-bright !important; }
.Van-u-color-yelno { color: $color-yelno !important; }
.Van-u-color-yellow-primary { color: $color-yellow-primary !important; }
.Van-u-color-yellow-light { color: $color-yellow-light !important; }
.Van-u-color-yellow-bright { color: $color-yellow-bright !important; }
.Van-u-color-yellow-brightst { color: $color-yellow-brightst !important; }
.Van-u-color-orange { color: $color-orange !important; }
.Van-u-color-red { color: $color-red !important; }
.Van-u-color-facebook-blue { color: $color-facebook-blue !important; }

.Van-u-bg-white { background-color: $color-white !important; }
.Van-u-bg-dark { background-color: $color-dark !important; }
.Van-u-bg-grey { background-color: $color-grey !important; }
.Van-u-bg-grey-dark { background-color: $color-grey-dark !important; }
.Van-u-bg-grey-bright { background-color: $color-grey-bright !important; }
.Van-u-bg-primary-darker { background-color: $color-primary-darker !important; }
.Van-u-bg-primary { background-color: $color-primary !important; }
.Van-u-bg-primary-light { background-color: $color-primary-light !important; }
.Van-u-bg-primary-bright { background-color: $color-primary-bright !important; }
.Van-u-bg-primary-brightst { background-color: $color-primary-brightst !important; }
.Van-u-bg-pink-darker { background-color: $color-pink-darker !important; }
.Van-u-bg-pink-dark { background-color: $color-pink-dark !important; }
.Van-u-bg-pink-primary { background-color: $color-pink-primary !important; }
.Van-u-bg-pink-light { background-color: $color-pink-light !important; }
.Van-u-bg-pink-bright { background-color: $color-pink-bright !important; }
.Van-u-bg-blue-darker { background-color: $color-blue-darker !important; }
.Van-u-bg-blue-dark { background-color: $color-blue-dark !important; }
.Van-u-bg-blue-primary { background-color: $color-blue-primary !important; }
.Van-u-bg-blue-light { background-color: $color-blue-light !important; }
.Van-u-bg-blue-bright { background-color: $color-blue-bright !important; }
.Van-u-bg-green-darker { background-color: $color-green-darker !important; }
.Van-u-bg-green-dark { background-color: $color-green-dark !important; }
.Van-u-bg-green-primary { background-color: $color-green-primary !important; }
.Van-u-bg-green-light { background-color: $color-green-light !important; }
.Van-u-bg-green-bright { background-color: $color-green-bright !important; }
.Van-u-bg-yelno { background-color: $color-yelno !important; }
.Van-u-bg-yellow-primary { background-color: $color-yellow-primary !important; }
.Van-u-bg-yellow-light { background-color: $color-yellow-light !important; }
.Van-u-bg-yellow-bright { background-color: $color-yellow-bright !important; }
.Van-u-bg-yellow-brightst { background-color: $color-yellow-brightst !important; }
.Van-u-bg-orange { background-color: $color-orange !important; }
.Van-u-bg-red { background-color: $color-red !important; }
.Van-u-bg-facebook-blue { background-color: $color-facebook-blue !important; }

.u-margin {
  &--flush { margin: 0; }

  &--x-small { margin: 10px; }

  &--small { margin: 15px; }

  &--medium { margin: 20px; }

  &--large { margin: 25px; }

  &--x-large { margin: 30px; }

  &--xx-large { margin: 35px; }

  &--ultra { margin: 40px; }

  &-top {
    &--flush { margin-top: 0; }

    &--x-small { margin-top: 10px; }

    &--small { margin-top: 15px; }

    &--medium { margin-top: 20px; }

    &--large { margin-top: 25px; }

    &--x-large { margin-top: 30px; }

    &--xx-large { margin-top: 35px; }

    &--ultra { margin-top: 40px; }
  }

  &-bottom {
    &--flush { margin-bottom: 0; }

    &--x-small { margin-bottom: 10px; }

    &--small { margin-bottom: 15px; }

    &--medium { margin-bottom: 20px; }

    &--large { margin-bottom: 25px; }

    &--x-large { margin-bottom: 30px; }

    &--xx-large { margin-bottom: 35px; }

    &--ultra { margin-bottom: 40px; }
  }

  &-left {
    &--flush { margin-left: 0; }

    &--x-small { margin-left: 10px; }

    &--small { margin-left: 15px; }

    &--medium { margin-left: 20px; }

    &--large { margin-left: 25px; }

    &--x-large { margin-left: 30px; }

    &--xx-large { margin-left: 35px; }

    &--ultra { margin-left: 40px; }
  }

  &-right {
    &--flush { margin-right: 0; }

    &--x-small { margin-right: 10px; }

    &--small { margin-right: 15px; }

    &--medium { margin-right: 20px; }

    &--large { margin-right: 25px; }

    &--x-large { margin-right: 30px; }

    &--xx-large { margin-right: 35px; }

    &--ultra { margin-right: 40px; }
  }
}

.u-padding {
  &--flush { padding: 0; }

  &--x-small { padding: 10px; }

  &--small { padding: 15px; }

  &--medium { padding: 20px; }

  &--large { padding: 25px; }

  &--x-large { padding: 30px; }

  &--xx-large { padding: 35px; }

  &--ultra { padding: 40px; }

  &-top {
    &--flush { padding-top: 0; }

    &--x-small { padding-top: 10px; }

    &--small { padding-top: 15px; }

    &--medium { padding-top: 20px; }

    &--large { padding-top: 25px; }

    &--x-large { padding-top: 30px; }

    &--xx-large { padding-top: 35px; }

    &--ultra { padding-top: 40px; }
  }

  &-bottom {
    &--flush { padding-bottom: 0; }

    &--x-small { padding-bottom: 10px; }

    &--small { padding-bottom: 15px; }

    &--medium { padding-bottom: 20px; }

    &--large { padding-bottom: 25px; }

    &--x-large { padding-bottom: 30px; }

    &--xx-large { padding-bottom: 35px; }

    &--ultra { padding-bottom: 40px; }
  }

  &-left {
    &--flush { padding-left: 0; }

    &--x-small { padding-left: 10px; }

    &--small { padding-left: 15px; }

    &--medium { padding-left: 20px; }

    &--large { padding-left: 25px; }

    &--x-large { padding-left: 30px; }

    &--xx-large { padding-left: 35px; }

    &--ultra { padding-left: 40px; }
  }

  &-right {
    &--flush { padding-right: 0; }

    &--x-small { padding-right: 10px; }

    &--small { padding-right: 15px; }

    &--medium { padding-right: 20px; }

    &--large { padding-right: 25px; }

    &--x-large { padding-right: 30px; }

    &--xx-large { padding-right: 35px; }

    &--ultra { padding-right: 40px; }
  }
}
