@import "../../css/variables";

.Van-Table {
  border-collapse: collapse;
  text-align: left;

  &-head {
    background-color: #f7f7f7;
    font-weight: $font-weight-semibold;
    height: 36px;
    border-bottom: 1px solid #ebebea;
  }

  &-headCell {
    font-size: 18px;
  }

  &-headCell,
  &-cell,
  &-footerCell {
    padding: 8px 10px;
  }

  &-row {
    border-bottom: 1px solid #ebebea;
  }

  &-cell {
    font-weight: $font-weight-light;
    font-size: 15px;
  }

  &-footerCell {
    font-weight: $font-weight-semibold;
  }

  &--full {
    width: 100%;
  }
}
