/** @define DashboardMenu */

@import '../../css/variables';

.Van-DashboardMenu {
  position: relative;
  height: 50px;
  background-color: $color-white;
  border-top: 1px solid $color-grey-bright;
  border-bottom: 1px solid $color-grey-bright;
  overflow: hidden;

  &-nav {
    margin: 0;
    display: block;
    height: 50px;
    list-style: none;
    white-space: nowrap;
    padding: 0 15px;
  }

  &-item {
    display: inline-block;
    margin-right: 45px;
    font-size: $font-size-normal;
    font-weight: $font-weight-semibold;
    color: $color-dark;
    height: 100%;
    line-height: 50px;
    cursor: pointer;

    &:last-child {
      margin-right: 0;
    }

    /* postcss-bem-linter: ignore */
    > a {
      color: $color-dark;
      text-decoration: none;
      display: block;

      /* postcss-bem-linter: ignore */
      &:hover,
      &:active,
      &:focus {
        color: $color-green-bright;
        text-decoration: none;
      }
    }

    &--active {
      /* postcss-bem-linter: ignore */
      &,
      > a {
        color: $color-green-bright !important;
      }
    }
  }

  @media (max-width: $container-xs) {
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;

    &-nav {
      overflow-x: scroll;
    }

    &::after,
    &::before {
      content: "";
      position: absolute;
      width: 3em;
      height: 100%;
      top: 0;
      pointer-events: none;
      opacity: 0;
    }

    &::after {
      background: linear-gradient(to right, $color-grey-bright, transparent 90%);
      left: 0;
    }

    &::before {
      background: linear-gradient(to left, $color-grey-bright, transparent 90%);
      right: 0;
    }

    &--startShadow {
      &::after {
        opacity: 1;
      }
    }

    &--endShadow {
      &::before {
        opacity: 1;
      }
    }
  }
}
