/** @define Accordion */

@import "../../css/_global";

.Van-Accordion {
  &-title {
    cursor: pointer;

    /* postcss-bem-linter: ignore */
    .Van-Icon {
      margin-left: 5px;
    }
  }

  &-content {
    max-height: 0;
    transition: max-height 0.3s ease-out;
    overflow: hidden;
    display: block;
  }

  &--open {
    .Van-Accordion-content {
      max-height: 999px;
      transition: max-height 0.5s ease-in;
    }
  }

  &--disabled {
    .Van-Accordion-title {
      cursor: default;
    }
  }
}
