/** @define PhoneCard */

@import "../../css/variables";
@import "../../css/mixins";

.Van-PhoneCard {
  width: 325px;
  min-height: 75px;
  background-color: rgba(255, 255, 255, 0.6);
  padding: 15px 10px;
  text-align: left;
  display: inline-block;
  align-items: flex-start;

  &--withBorder {
    border: 2px solid $color-grey-bright;
  }

  &-number {
    @include color-fill($color-green-primary);

    display: inline-flex;
    font-weight: $font-weight-semibold;
    font-size: 17px;
    line-height: 25px;
  }

  /* postcss-bem-linter: ignore */
  .Van-Icon {
    @include icon-size(23px);

    margin-right: 8px;
    margin-top: 0;
  }

  &-description {
    display: block;
    color: $color-primary-bright;
    font-size: 13px;
    line-height: 18px;
  }
}
