/** @define Link */

@import "../../css/_global.scss";

.Van-Link {
  color: $color-primary-bright;
  text-decoration: none;

  &:hover {
    color: $color-pink-primary;
  }

  &--secondary {
    color: $color-green-primary;

    &:hover {
      color: $color-green-primary;
      text-decoration: underline;
    }
  }
}
