/** @define Link */

@import "../../css/_global";
@import "../../css/mixins";

.Van-Link {
  @include color-fill($color-primary-bright);

  text-decoration: none;
  cursor: pointer;

  &:hover {
    @include color-fill($color-pink-primary);
  }

  &--secondary {
    @include color-fill($color-green-primary);

    &:hover {
      @include color-fill($color-green-primary);

      text-decoration: underline;
    }
  }
}
